<div style="height: 100vmax;" class="p-5">
    <div class="alert alert-info  p-4" role="alert">
        <h4 class="alert-heading">Dashboard</h4>
        
        <p class="lead mb-3">Welcome <%= user.name %></p>
        <a href="/dashboard/addDetails" class="btn btn-outline-primary btn-lg">Add Details</a>
        <p>Important Anouncements will be announced here</p>
        <hr>
    </div>
    <a href="/users/logout" class="btn btn-secondary btn-lg">Logout</a>
</div>