<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <h1>MODIFY COLLECTIONS</h1>
    <div class="ml-auto m-2">
        <a href="/examcell/modify/block/view" class="btn btn-outline-light text-danger btn-lg">BLOCK</a
        >
      </div>
      <div class="ml-auto m-2">
        <a
          href="/examcell/modify/room/view"
          class="btn btn-outline-light text-danger btn-lg"
          >ROOM</a
        >
      </div>
      <div class="ml-auto m-2">
        <a
          href="/examcell/modify/dept/view"
          class="btn btn-outline-light text-danger btn-lg"
          >DEPARTMENT</a
        >
      </div>
      <div class="ml-auto m-2">
        <a
          href="/examcell/modify/deptsub/view"
          class="btn btn-outline-light text-danger btn-lg"
          >DEPARTMENT SUBJECT</a
        >
      </div>
      <div class="ml-auto m-2">
        <a
          href="/examcell/modify/student/view"
          class="btn btn-outline-light text-danger btn-lg"
          >STUDENT</a
        >
      </div>
</body>

</html>