<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }
    
    body {
        font-family: "Lato", sans-serif;
    }
    
    .sidenav {
        width: 115px;
        height: 600px;
        position: fixed;
        z-index: 1;
        top: 80px;
        left: 0px;
        background: #eee;
        overflow-x: hidden;
        padding: 8px 0;
    }
    
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #2196F3;
        display: block;
    }
    
    .sidenav a:hover {
        color: #064579;
    }
    
    .main {
        margin-left: 140px;
        /* Same width as the sidebar + left position in px */
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
</style>


<body>
    <div class="sidenav">
        <a href="/examcell/modify/dept/add">ADD</a>
        <a href="/examcell/modify/dept/view">VIEW</a>
        <a href="/examcell/modify/dept/delete">DELETE</a>

    </div>
    <h3> DEPARTMENT COLLECTION - ADD</h3>
    <hr>
    <br>
    <form action="/examcell/modify/dept/add" method="POST">
        <div>
            <label for="id">*DEPARTMENT</label>
            <input type="text" name="dept" id="dept" required>
        </div>


        <br>
        <button type="submit" class="m-5 btn btn-success btn-lg">
            ADD
         </button>
        <hr>

        <h5>* Enter 1 or more Departments separated by comma(,)</h5>
    </form>


</body>

</html>