<div style="height: 100vmax;" class="p-5">
  <div class="alert  jumbotron  p-4" role="alert">
    <h4 class="alert-heading">REC Exam Cell</h4>
    <p>You are viewing the official site of REC exam cell!!</p>
    <hr>
    <p class="mb-3"> Please Login for more details!!!</p>
    <button class="btn btn-dark my-2 my-sm-0"><a href="/users/login" class="text-white">Login</a></button>
          
  </div>
</div>
